<h1><%= @path %></h1>
<% if archives.length > 0 %>
<ul>
    <% for entry in archives %>
      <li>
        <a href="<%= entry.path %>"><%= entry.title %></a>
      </li>
    <% end %>
</ul>
<% end %>

